option domain-name "{{ dhcpd_domain_name }}";
{% if dhcpd_global_name_servers is defined %}
option domain-name-servers {{ dhcpd_global_name_servers | join(',') }};
{% endif %}
{% if dhcpd_global_search_domains is defined %}
option domain-search {{ dhcpd_global_search_domains | map('to_json') | join(',') }};
{% endif %}

default-lease-time {{ dhcpd_default_lease_time }};
max-lease-time {{ dhcpd_max_lease_time }};

{% for subnet in dhcpd_subnets %}
subnet {{ subnet.addr }} netmask {{ subnet.mask }} {
  range {{ subnet.start_addr }} {{ subnet.end_addr }};
  option routers {{ subnet.gateway }};
{% if subnet['search_domains'] is defined %}
  option domain-search {{ subnet.search_domains | map('to_json') | join(',') }};
{% endif %}
{% if subnet['name_servers'] is defined %}
  option domain-name-servers {{ subnet.name_servers | join(',') }};
{% endif %}
}
{% endfor %}

{% for lease in dhcpd_static_leases %}
host {{ lease.host }} {
  hardware ethernet {{ lease.mac }};
  fixed-address {{ lease.addr }};
}
{% endfor %}
